<section data-ng-controller="HomeController">

	<div class="row">
		<div class="col-md-2">

			<p><a  href="#"><img src="modules/core/img/module_png/TimeDateCopy.png" /></a></p>
		</div>
		<div class="col-md-2">
			<p><a  href="#"><img src="modules/core/img/module_png/Rialto.png"/> </a></p>

		</div>
		<div class="col-md-2">
			<p><a  href="#"><img src="modules/core/img/module_png/Next Harvest.png"/> </a></p>

		</div>
		<div class="col-md-6">
			<p><a  href="#"><img src="modules/core/img/module_png/Sensors.png"/> </a></p>

		</div>
	</div><!--close top row-->
	<div class="row">
		<div class="col-md-8">

			<p><a  href="#"><img src="modules\core\img\module_png\Calendar.png" class="max-width" /></a></p>
		</div>
		<div class="col-md-4">
			<p><a  href="#"><img src="modules\core\img\module_png\Chat & Messages.png"/> </a></p>

		</div>

	</div><!--close top row-->

</section>
