<section data-ng-controller="HomeController">
	<div class="row horizontalMenu">
		<div class="col-md-10 ">
			<i class="glyphicon glyphicon-menu-hamburger"></i>
		</div>
		<div class="col-md-2 ">
			<span><img src="modules/core/img/brand/NotificationBell.png"/></span>
			<span><img src="modules/core/img/brand/ChatNotifications.png"/></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">

			<p><a  href="#"><img src="modules/core/img/modulePng/TimeDateCopy.png" /></a></p>
		</div>
		<div class="col-md-2">
			<p><a  href="#"><img src="modules/core/img/modulePng/Rialto.png"/> </a></p>

		</div>
		<div class="col-md-2">
			<p><a  href="#"><img src="modules/core/img/modulePng/NextHarvest.png"/> </a></p>

		</div>
		<div class="col-md-6">
			<p><a  href="#"><img src="modules/core/img/modulePng/Sensors.png"/> </a></p>

		</div>
	</div><!--close top row-->
	<div class="row">
		<div class="col-md-8">

			<p><a  href="#"><img src="modules\core\img\modulePng\Calendar.png" class="max-width" /></a></p>
		</div>
		<div class="col-md-4">
			<p><a  href="#"><img src="modules\core\img\modulePng\Chat & Messages.png"/> </a></p>

		</div>

	</div><!--close top row-->

</section>
