.content {

	margin-left: 190px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.horizontalMenu {
	background-color: #33485f;
	padding-top:10px;
	top:0;
	min-height:50px;
}
.glyphicon-menu-hamburger {
	top:2px;
	font-size:22px;
	color: #cccddd;

}
.nav {
	margin-bottom: 30px;
}

.collapse .navbar-collapse {
	margin-left:25px;
}
.navbar {
	background-color: #33485f;
	border-color: #33485f;
	position:fixed;
	max-width:200px;
	height:100%;

}
.navbar-brand {
	padding:0;
}
.loginIcon {
	font-size: 70px;
	margin-left: 28px;
	color: #cccddd;
}
 .navbar-nav > li > a {
	color: #fff;
	opacity: .4;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .25);

	font-size:14px;
	line-height:17px;
}
.nav > li > a {
	color: #fff;
	opacity: .4;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
	
	font-size:14px;
	line-height:17px;
}
.max-width {
	max-width:100%;
}
